{
  "FACEBOOK_CLIENTID": "ID",
  "FACEBOOK_SECRET": "SECRET",
  "TWITTER_CLIENTID": "ID",
  "TWITTER_SECRET": "SECRET",
  "GITHUB_CLIENTID": "ID",
  "GITHUB_SECRET": "SECRET",
  "LINKEDIN_CLIENTID": "ID",
  "LINKEDIN_SECRET": "SECRET",
  "GOOGLE_CLIENTID": "1049190322634-c260g066gsrbcqmqa1sucfr26bboogod.apps.googleusercontent.com",
  "GOOGLE_SECRET": "RWtmo659Y4pyGhCHX4-zx54L"
}
